<div class="flex flex-col items-center min-h-[60vh] py-8">
  <div class="bg-white shadow-lg rounded-xl p-8 w-full max-w-md">
    <h1 class="text-3xl font-bold text-indigo-700 mb-8"><%= donation.title %></h1>
    <div class="space-y-2 mb-6">
      <p class="text-gray-700">
        <span class="font-semibold">내용</span> : <%= donation.content %>
      </p>
      <p class="text-gray-700">
        <span class="font-semibold">작성자</span> : <%= author %>
      </p>
    </div>
    <hr>
    <div class="space-y-2 mb-6">
      <p class="text-gray-700">
        <span class="font-semibold">음식 이름</span> : <%= donation.food.name %>
      </p>
      <p class="text-gray-700">
        <span class="font-semibold">음식 설명</span> : <%= donation.food.description %>
      </p>
      <p class="text-gray-700">
        <span class="font-semibold">유통기한</span> : <%= donation.food.expiryAt %>
      </p>
    </div>
    <hr class="mb-6" />
    <% if (isAuthor) { %>
    <div class="flex gap-2">
      <form action="/donations/<%= donation._id %>/edit" method="GET" class="w-full">
        <button type="submit" class="w-full px-4 py-2 rounded bg-blue-500 hover:bg-blue-600 text-white font-semibold transition">
          수정
        </button>
      </form>
      <form action="/donations/<%= donation._id %>/?_method=DELETE" method="POST" class="w-full">
        <button type="submit" class="w-full px-4 py-2 rounded bg-red-500 hover:bg-red-600 text-white font-semibold transition">
          삭제
        </button>
      </form>
    </div>
    <% } else { %>
    <div class="flex gap-2">
      <button type="button" onclick="confirmAndChat()" class="w-full px-4 py-2 rounded bg-indigo-600 hover:bg-indigo-700 text-white font-semibold transition">
        채팅하기
      </button>
    </div>
    <form id="startChatForm" action="/donations/<%= donation._id %>/chats" method="POST" style="display: none;"></form>
    <% } %>
  </div>
</div>

<script>
  function confirmAndChat() {
    if (confirm("작성자와 채팅을 시작하시겠습니까?")) {
      document.getElementById('startChatForm').submit();
    }
  }
</script>